@import url("https://fonts.googleapis.com/css?family=Poppins|Varela+Round&display=swap");

header {
    background-color: #ebecf0;
    border-radius: 0.2cm;
    width: auto;
}
#logo {
    border-radius: 0.2cm;
    width: 80vw;
    padding: 0.5vh;
}
body {
    font-family: "Varela Round", sans-serif;
}
.nav1 {
    background-color: #292b2c;
    height: 60px;
    width: auto;
    border-radius: 0.2cm;
}
.nav1 ul li {
    display: inline-block;
    margin: 20px 5px;
}
.nav1 ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    border-radius: 0.2cm;
}
.nav1 ul li a:hover {
    background-color: white;
    color: #292b2c;
    transition: 0.5s;
}
.burger {
    display: none;
}
#burger {
    display: none;
}
.nav2 {
    color: black;
    height: 200px;
    width: auto;
    border-radius: 0.2cm;
    display: none;
}
.nav2 ul li{
    display: block;
    margin: 20px 5px;
}
.nav2 ul li a {
    text-decoration: none;
    color: black;
    padding: 7px 13px;
    border-radius: 0.2cm;
}
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
    margin-top: 5px;
    border-radius: 0.2cm;
}
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.container0 {
    border-radius: 0.2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "notf pmsg";
    grid-gap: 1rem;
}
#notf {
    grid-area: notf;
    background-color: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 5px;
    margin-right: 5px;
}
#notf h4 {
    text-align: center;
}
#notf ul li {
    margin-left: 10px;
}
#pmsg {
    grid-area: pmsg;
    background-color: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 5px;
    margin-right: 5px;
}
#pmsg h4 {
    text-align: center;
}
#pmsg ul li {
    margin-left: 10px;
}
@media only screen and (max-width: 550px) {
    .container0 {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "notf"
        "pmsg";
    }
}
.container1 {
    background-color: #ebecf0;
    border-radius: 0.2cm;
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "cimg1 cdef1"
    "cdef2 cimg2"
    "cimg3 cdef3"
    "cdef4 cimg4";
    grid-gap: 1rem;
}
#cimg1 {
    grid-area: cimg1;
    margin-left: 20px;
    margin-right: 20px;
}
#cdef1 {
    grid-area: cdef1;
    margin-left: 20px;
    margin-right: 20px;
}
#cimg2 {
    grid-area: cimg2;
    margin-left: 20px;
    margin-right: 20px;
}
#cdef2 {
    grid-area: cdef2;
    margin-left: 20px;
    margin-right: 20px;
}
#cimg3 {
    grid-area: cimg3;
    margin-left: 20px;
    margin-right: 20px;
}
#cdef3 {
    grid-area: cdef3;
    margin-left: 20px;
    margin-right: 20px;
}
#cimg4 {
    grid-area: cimg4;
    margin-left: 20px;
    margin-right: 20px;
}
#cdef4 {
    grid-area: cdef4;
    margin-left: 20px;
    margin-right: 20px;
}
#head1 {
    text-align: left;
    justify-content: right;
    position: relative;
    color: #051a47;
}
.container1 img {
    border-radius: 0.2cm;
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 550px) {
    .container1 {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cimg1"
        "cdef1"
        "cimg2"
        "cdef2"
        "cimg3"
        "cdef3"
        "cimg4"
        "cdef4";
    }
}
.head2 {
    align-content: center;
    justify-content: center;
    position: relative;
    color: #051a47;
}

#cimg11 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg11 a {
    text-decoration: none;
    color: #051a47;
}
#cimg11 a h4 {
    margin-left: 10px;
}
#cimg12 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg12 a {
    text-decoration: none;
    color: #051a47;
}
#cimg12 a h4 {
    margin-left: 10px;
}
#cimg13 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#cimg13 a {
    text-decoration: none;
    color: #051a47;
}
#cimg13 a h4 {
    margin-left: 10px;
}
#cimg14 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg14 a {
    text-decoration: none;
    color: #051a47;
}
#cimg14 a h4 {
    margin-left: 10px;
}
#cimg15 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg15 a {
    text-decoration: none;
    color: #051a47;
}
#cimg15 a h4 {
    margin-left: 10px;
}
#cimg16 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg16 a {
    text-decoration: none;
    color: #051a47;
}
#cimg16 a h4 {
    margin-left: 10px;
}
#cimg17 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg17 a {
    text-decoration: none;
    color: #051a47;
}
#cimg17 a h4 {
    margin-left: 10px;
}
#cimg18 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg18 a {
    text-decoration: none;
    color: #051a47;
}
#cimg18 a h4 {
    margin-left: 10px;
}
#cimg19 {
    background: #dde9ff;
    border-radius: 0.2cm;
    margin-left: 10px;
    margin-top: 10px;
}
#cimg19 a {
    text-decoration: none;
    color: #051a47;
}
#cimg19 a h4 {
    margin-left: 10px;
}
.container2 img {
    border-radius: 0.2cm 0.2cm 0cm 0cm;
    width: 100%;
    height: auto;
}
#footer {
    background-color: #ebecf0;
    border-radius: 0.2cm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}
.social-icons {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #051a47;
}
.social-icons .images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons img {
    width: 50px;
}
.address {
    text-align: center;
    color: #051a47;
}
.qlinks {
    text-align: center;
    color: #051a47;    
}
.qlinks li {
    list-style: none;
    color: #051a47;
}
.qlinks li a {
    text-decoration: none;
    color: #051a47;
}
.map {
    text-align: center;
    color: #051a47;
}
.map iframe{
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 0.2px;
}
#bottom-line {
    text-align: center;
    color: #051a47;
}
@media screen and (max-width: 768px) {
    #footer {
      grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    .burger {
        display: inline;
        font-size: 25px;
        position: absolute;
        top: 0.6cm; 
        right: 0.5cm;
    }
    .nav1 {
        display: none;
    }
    .nav1 ul {
        position: fixed;
        border-radius: 0.2cm;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        position: absolute;
        top: 120px;
        left: -500px;
        text-align: center;
        transition: all .5s;
    }
    #burger:checked ~ .nav2 {
        display: inline;
    }
}

@media screen and (min-width: 700px) {
    #logo {
      width: 700px;
    }
}